<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/vendor/slimselect.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/bundle.js"></script>
    <title>HS Card App</title>
</head>
<body>
    <main>
        {{{ body }}}
    </main>
    <p class="trademark-info">Hearthstone is a trademark or registered trademark of Blizzard Entertainment, Inc., in the U.S. and/or other countries.</p>
</body>
</html>