*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #484848;
  font-size: 1.8rem;
}

main {
  min-height: calc(100vh - 4rem);
}

h1 {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.search-wrapper {
  margin-top: 2rem;
  flex-grow: 2;
}

.search-form {
  display: flex;
}

.search-input {
  font-size: 1.6rem;
  padding: 4px;
  border-radius: 3px;
  flex-grow: 2;
}

.search-button {
  font-size: 1.8rem;
  padding: 4px;
  border-radius: 3px;
  margin-left: 1rem;
}

.input-title {
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}

.results {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 2rem;
}

.card-image {
  width: 20rem;
  height: 30rem;
  /* Account for extra whitespace in card images from API */
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

.trademark-info {
  text-align: center;
  font-size: 1.2rem;
  margin: 0 1em;
}

/* slim-select classes */

.ss-value {
  /* Override the scaleIn animation from slim-select library
   * because it is making the selected items scale in after
   * performing a search.
   */
  animation-name: none !important;
}

.ss-main {
  margin: .5rem 0;
}

.ss-value-text {
  font-size: 1.2rem;
}

@media (min-width: 56.25em) {
  main {
    min-height: calc(100vh - 2rem);
  }

  .wrapper {
    flex-direction: row;
    /* margin: 0 2rem; */
  }

  .search-wrapper {
    margin-top: 2.75rem;
  }

  .sidebar {
    margin-right: 1rem;
    width: 30rem;
  }

  .results {
    margin-top: 3rem;
  }
}

@media (min-width: 87.5em) {
  .card-image {
    width: 25.6rem;
    height: 38.2rem;
  }
  .wrapper {
    margin: 0 3rem;
  }
}