*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #484848;
  font-size: 1.8rem;
}

h1 {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.wrapper {
  display: flex;
}

.search-wrapper {
  margin-left: 3rem;
  margin-top: 2.6rem;
}

.search-input {
  font-size: 1.6rem;
  width: 60rem;
  padding: 4px;
  border-radius: 3px;
}

.search-button {
  font-size: 1.8rem;
  padding: 4px;
  border-radius: 3px;
}

.sidebar {
  padding-left: 2rem;
  width: 40rem;
}

.input-title {
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}

.results {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.card-image {
  width: 256px;
  height: 382px;
}

/* slim-select classes */

.ss-main {
  min-width: 25rem;
  margin: .5rem 0;
}

.ss-value-text {
  font-size: 1.2rem;
}